@keyframes sw-ripple-kf {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
  }
}

.sw-ripple-effect {
  animation: sw-ripple-kf 550ms var(--easing-out) both;
}
